@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@500;600;700;800&family=Changa:wght@700;800&family=Readex+Pro:wght@400;500;600;700&display=swap");

:root {
  --background-color: #f7f7f9;
  --text-color: #292828;
  --main-color: rgb(58, 58, 192);
  --two-colors: #3d3d3d;
  --cute-color: #d8e5f4;
  --tricker-color: rgb(247, 247, 249, 0.6);
  --scrollbar-color: #d8e5f4;
  --scrollbar-thumb-color: #adccf0;
  --shadow-color: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --skeleton--text: #d9d9d994;
  --skeleton--background: #f3f3f3;
  --skeleton--animation: #e0e0e0;
  --curd-color: #ffffff91;
  --terms-bgcolor: #f5f5f5;
  --terms-h1-color: #333;
  --terms-li-color: #555;
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.dark-mode {
  --background-color: #11121b;
  --text-color: #beb8b8;
  --main-color: #345172;
  --two-colors: #9b9595;
  --cute-color: #111924;
  --tricker-color: rgba(0, 0, 0, 0.35);

  --scrollbar-color: #1c335c;
  --scrollbar-thumb-color: #3c5e99;
  --skeleton--text: #273c5f;
  --skeleton--background: #273c5f8f;
  --skeleton--animation: #2f486b8f;
  --curd-color: #0e0d0d91;
  --terms-bgcolor: #111924;
  --terms-h1-color: #aaa7a7;
  --terms-li-color: #6e6d6d;

  --box-shadow: 0 0 10px #000000;
}

::selection {
  background-color: var(--main-color);
  color: var(--cute-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #6633991c;
}

a {
  text-decoration: none;
}

input,
textarea {
  padding: 5px;
  font-size: 15px;
  border: 1px solid #dddfe2;
  outline: none;
  border-radius: 5px;
}
